<form action="{{form.action}}" method="{{form.method}}">
    {% csrf_token %}
    <table>
        {% comment %}
        form.as_table is not working!
        {% endcomment %}
        {% for field in form.form %}
            {% if field.errors %}
            <tr><td colspan="3" class="FormErrorField">{{field.errors}}</td></tr>
            {% endif %}
            <tr>
                {% if field.label %}
                <td class="FormFieldLabel">{{field.label}}</td>
                {% endif %}
                <td class="FormField">{{field}}</td>
                {% if field.help_text %}
                <td class="FormFieldDescription">{{field.help_text|safe}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    <input type="submit" value="{{form.submit_value}}" />
</form>