{% if element.content_type == 'Link' %}
    <link rel="{{element.title}}" href="{{element.action}}"></link>
{% elif element.content_type == 'Meta' %}
    <meta name="{{element.title}}" content="{{element.content}}" />
{% elif element.content_type == 'Script' %}
    <script type="text/javascript">{{element.script}}</script>
{% elif element.content_type == 'Style' %}
    <style type="text/css">{{element.style}}</style>
{% elif element.content_type == 'Html' %}
      {{element.html_code}}
{% endif %}
