{% load static %}
<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet"
        href="{% get_static_prefix %}friendipy/themes/{{page.settings.theme_name}}/Style.css" />
    <link rel="stylesheet"
        href="{% get_static_prefix %}friendipy/themes/{{page.settings.theme_name}}/ColorSchemes/{{page.settings.color_scheme_name}}.css" />
    {% block header %}
    {% for js in page.included_js %}
    <script type="text/javascript" src="{{js}}"></script>
    {% endfor %}
    {% for element in page.header_content %}
        {% include 'friendipy/themes/default/FTI_HeaderContent.html' with element=element %}
    {% endfor %}
    {% endblock %}
  </head>
  <body>
    <nav>
      {% include 'friendipy/themes/default/FTI_Nav.html' with nav_items=page.nav_items %}
    </nav>
    <aside>
      {% include 'friendipy/themes/default/FTI_Widgets.html' with widgets=page.side_widgets %}
    </aside>
    <section>
      {% if page.message_list %}
        <ul class="Border RoundCorners MessageList">
        {% for message in page.message_list %}
          <li>{{message}}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% include 'friendipy/themes/default/FTI_Widgets.html' with widgets=page.widgets %}
    </section>
  </body>
</html>
