{% for nav_item in nav_items %}
{% if nav_item.content_type == 'Menu' %}
<span class="NavItem MenuActivator">
    <a rel="#{{nav_item.name}}">
        {% if nav_item.icon %}
        <img class="SmallIcon RoundCorners" src="{{nav_item.icon.source}}" alt="{{nav_item.icon.description}}"></img>
        {% else %}
        {{nav_item.title}}
        {% endif %}
    </a>
    <ul id="{{nav_item.name}}" class="Menu">
        {% for link in nav_item.entries %}
        <li><a class="MenuEntry" href="{{link.action}}">{{link.title}}</a></li>
        {% endfor %}
    </ul>
</span>
{% elif nav_item.content_type == 'Link' %}
<span class="NavItem"><a href="{{nav_item.action}}">{{nav_item.title}}</a></span>
{% elif nav_item.content_type == 'Space' %}
<span class="NavItem NavSpacer">&nbsp;</span>
{% elif nav_item.content_type == 'Text' %}
    {% if nav_item.size == "big" %}
        <span class="NavItem BigText">
    {% elif nav_item.size == "small" %}
        <span class="NavItem SmallText">
    {% else %}
        <span class="NavItem">
    {% endif %}
    {{nav_item.text}}
</span>
{% elif nav_item.content_type == 'Html' %}
<span class="NavItem">{{nav_item.content}}</span>
{% endif %}
{% endfor %}