{% if element.content_type == 'Form' %}
    {% include 'friendipy/themes/default/FTI_Form.html' with form=element %}
{% elif element.content_type == 'Button' %}
    <a class="Button Block RoundCorners {% if element.selected %}Selected{% endif %}"
        {% if element.action %}
        href="{{element.action}}"
        {% endif %}
        >
        {% if element.icon_url %}
        <img class="Button RoundCorners SmallIcon SmallText" src="{{element.icon_url}}"
          alt="{{element.title}}"
          {% for event in element.js_events %}
            {{event.name}}="{{event.action}}"
          {% endfor %}
          ></img>
        {% else %}
          {{element.title}}
        {% endif %}
    </a>
{% elif element.content_type == 'ButtonGroup' %}
    {% for button in element.buttons %}
        <a class="Button RoundCorners {% if button.selected %}Selected{% endif %} {% if not element.align_horizontally %}Block{% endif %}"
        {% if button.action %}
        href="{{button.action}}"
        {% endif %}
        >
        {% if button.icon_url %}
        <img class="Button RoundCorners SmallIcon SmallText" src="{{button.icon_url}}"
          alt="{{button.title}}"
          {% for event in button.events %}
            {{event.name}}="{{event.action}}"
          {% endfor %}
          ></img>
        {% else %}
          {{button.title}}
        {% endif %}
      </a>
    {% endfor %}
{% elif element.content_type == 'Image' %}
    {% if element.url %}
        <a href="{{element.url}}">
          <img class="BigIcon RoundCorners" src="{{element.source}}" alt="{{element.description}}" />
        </a>
    {% else %}
        <img class="BigIcon RoundCorners" src="{{element.source}}" alt="{{element.description}}" />
    {% endif %}
{% elif element.content_type == 'Items' %}
    <div class="ItemList">
    {% for item in element.items %}
            <div class="Item Border RoundCorners">
                <a href="{{item.action}}"><img class="ItemImage RoundCorners" src="{{item.image_url}}" /></a>
                <div class="ItemContent">
                    <a class="ItemName" href="{{item.action}}">{{item.name}}</a>
                    <div class="ItemText">
                        <strong>{{item.title}}</strong>
                        <div>{{item.text}}</div>
                        {% for tag in item.tags %}
                            <a href="">#{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
{% elif element.content_type == 'Text' %}
    {% if element.size == 'big' %}
        <div class="BigText">
    {% elif element.size == 'small' %}
        <div class="SmallText">
    {% else %}
        <div>
    {% endif %}
    {{element.text}}
    </div>
{% elif element.content_type == 'Combined' %}
    <div class="Combined">
        {% for e in element.content %}
            {% include 'friendipy/themes/default/FTI_Content.html' with element=e %}
        {% endfor %}
    </div>
{% elif element.content_type == 'Space' %}
    {% if element.size == 'big' %}
        <p class="BigText">&nbsp;</p>
    {% elif element.size == 'small' %}
        <p class="SmallText">&nbsp;</p>
    {% else %}
        <p>&nbsp;</p>
    {% endif %}
      </p>
{% elif element.content_type == 'Link' %}
      <a href="{{element.action}}">{{element.title}}</a>
    {% elif element.content_type == 'Html' %}
      <div>{{element.html_code}}</div>
{% endif %}
