{% for widget in widgets %}
<div
  {% if widget.id_attribute %}
    id="{{widget.id_attribute}}"
  {% endif %}
  {% if widget.is_side_widget %}
    class="SideWidget BottomLine">
  {% else %}
    {% if widget.layer == 1 %}
      class="Widget Border RoundCorners Padding Layer1">
    {% elif widget.layer == 2 %}
      class="Widget Border RoundCorners Padding Layer2">
    {% else %}
      class="Widget Border RoundCorners Padding Layer3">
    {% endif %}
  {% endif %}
  {% if widget.title %}
    <h3>{{widget.title}}</h3>
  {% endif %}
  {% if widget.description %}
    <p class="Center">{{widget.description}}</p>
  {% endif %}
    {% for element in widget.content %}
        {% include 'friendipy/themes/default/FTI_Content.html' with element=element %}
    {% endfor %}

    {% include 'friendipy/themes/default/FTI_Widgets.html' with widgets=widget.child_widgets %}
</div>
{% endfor %}