<html>
    <head>
        <title>{{profile.name}}</title>
        {% include 'friendipy/protocols/dfrn/Dfrn_head.html' with profile=profile url_prefix=url_prefix %}
    </head>
    <body>
        {% include 'friendipy/protocols/dfrn/Dfrn_profile.html' with profile=profile url_prefix=url_prefix %}
    </body>
</html>