{% if profile.user %}
<link rel="dfrn-request" href="{{url_prefix}}{% url 'friendipy-protocol_dfrn_request' profile.id %}" />
<link rel="dfrn-confirm" href="{{url_prefix}}{% url 'friendipy-protocol_dfrn_confirm_contact' profile.id %}" />
<link rel="dfrn-notify" href="{{url_prefix}}{% url 'friendipy-protocol_dfrn_notify' profile.id %}" />
<link rel="dfrn-poll" href="{{url_prefix}}{% url 'friendipy-protocol_dfrn_send_posts' profile.id %}" />
{% endif %}
