{% comment %}
This was taken from version 2.2 of the DFRN protocol documentation ("HTML of a basic DFRN profile")
{% endcomment %}
<div class="vcard">
    <h1 class="fn">{{profile.name}}</h1>
    <img class="photo" src="{{profile.photo_url }}" alt="{{profile.name}}" />
    <div class="adr">
        <div class="locality">{{profile.location}}</div>
        <div class="country-name">{{profile.country}}</div>
    </div>
    <div class="key" style="display:none;">
    {{profile.public_key}}
    </div>
</div>