
/* this is the main background */
.Background, body
{
  color:#000;
  background-color:#fff;
}

/* colors for links */
.Link, a:link, a:visited
{
  color:#00f;
}

/* colors for hovering links */
.Link:hover, a:hover
{
  color:#00f;
  text-shadow: 0px 0px 0.1em #08f;
}

/* layer 1,2 and 3 are elements that are grouped in one another.
 * So Layer1 elements are parents of Layer2 elements and so on*/
section, .Layer1
{
  background-color:#cfdfff;
}

.Layer2
{
  background-color:#bcf;
}

.Layer3
{
  background-color:#abf;
}

/* code elements, quotes and reshares */
.PostBody > code, .PostBody > blockquote, .PostBody > q, .PostBody > .shared_content
{
  background-color:#9af;
  border-color:#00f;
}

/* every border has this color, except buttons */
.Border, .BottomLine
{
  border-color: #89f;
}

/* special colors for menus */
.Menu
{
  background-color:#efefef;
}

/* input fields */
form input, form select, form textarea
{
  background-color:#fff;
  color:#000;
}

/* colors for buttons (and their borders) */
input[type="button"], input[type="submit"], .Button
{
  background-color:#ffa;
  color: #00f;
  border-color: #aa4;
}

/* colors for hovered buttons */
input[type="button"]:hover, input[type="submit"]:hover,
.Button:hover, a.Button:hover
{
  background-color:#ff8;
}

/* selected buttons and other selected elements */
.Selected, a.Button.Selected
{
  background-color:#fff;
}


/* each popup "window" has these colors */
.Popup
{
  color:#000;
  background-color:#fff;
}


/* the navigation bar can have different colors than other elements */
nav
{
  /* we want 4/5 of the nav bar to have the same color. the last 1/5 has the actual gradient to transparent */
  background: linear-gradient(to bottom, #69e, #69e, #69e, #69e, #69e, rgba(0, 0, 0, 0));
}

/* links in the nav bar have a different color: */
nav .Link, nav a:link, nav a:visited
{
  color:#fd0;
}

/* of course the links have to glow otherwise than normal ;) */
nav a:hover
{
  text-shadow: 0px 0px 0.1em #ff0;
}

/* menus in the nav bar have the same background as the nav bar */
nav .Menu
{
  background-color:#69e;
}

.MessageList
{
    list-style-type:none;
    border-color:#f00;
    background-color:#f66;
    color:#400;
}