
/* this is the main background */
.Background, body
{
  color:#fff;
  background-color:#222;
}

/* colors for links */
.Link, a:link, a:visited
{
  color:#4F4;
}

/* colors for hovering links */
.Link:hover, a:hover
{
  color:#AFA;
  text-shadow: 0px 0px 0.1em #8A8;
}

/* layer 1,2 and 3 are elements that are grouped in one another.
 * So Layer1 elements are parents of Layer2 elements and so on*/
section, .Layer1
{
  background-color:#400;
}

.Layer2
{
  background-color:#040;
}

.Layer3
{
  background-color:#004;
}

/* code elements, quotes and reshares */
.PostBody > code, .PostBody > blockquote, .PostBody > q, .PostBody > .shared_content
{
  background-color:#440;
  border-color:#ff0;
}

/* every border has this color, except buttons */
.Border, .BottomLine
{
  border-color:#880;
}

/* special colors for menus */
.Menu
{
  background-color:#444;
}

/* text input fields and buttons */
.Field, input, textarea, .Textarea, .Button
{
  background-color:#088;
  color:#FFF;
}

/* colors for buttons (and their borders) */
.Button, a.Button
{
  background-color:#444;
  color: #FFF;
  border-color: #F00;
}

/* colors for hovered buttons */
.Button:hover, a.Button:hover
{
  background-color:#888;
}

/* selected buttons and other selected elements */
.Selected, a.Button.Selected
{
  background-color:#888;
}

/* each popup "window" has these colors */
.Popup
{
  color:#000;
  background-color:#CCC;
}

/* the navigation bar can have different colors than other elements */
nav
{
  /* we want 4/5 of the nav bar to have the same color. the last 1/5 has the actual gradient to transparent */
  background: linear-gradient(to bottom, #229, #229, #229, #229, rgba(32, 0, 0, 0));
}

/* links in the nav bar have a different color: */
nav .Link, nav a:link, nav a:visited
{
  color:#fff;
}

/* of course the links have to glow otherwise than normal ;) */
nav a:hover
{
  text-shadow: 0px 0px 0.1em #f00;
}

/* menus in the nav bar have the same background as the nav bar */
nav .Menu
{
  border-color:#227;
}